div {


  height: 200px;
  width: 200px;
  background-color: white;
}
.smile{
  
   display: flex;
    padding: 100px;
    justify-content: space-around;
     background-color: yellow;
     border-radius: 50%;

  
}

.eye{
  
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  width: 40px;
}
